<div class="container py-4">
  <%= form_with(model: projet, local: true, class: "needs-validation") do |f| %>
    <div class="row">
      <div class="col-md-8">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Informations principales</h5>

            <%= render 'shared/form_field', form: f, field: :titre, field_type: :text_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :type_projet, field_type: :select, options: Projet::TYPE_PROJET, object: projet %>
            <%= render 'shared/form_field', form: f, field: :description, field_type: :text_area, object: projet %>
          </div>
        </div>

        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Liens et références</h5>

            <%= render 'shared/form_field', form: f, field: :projet_lien, field_type: :text_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :github_lien, field_type: :text_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :client, field_type: :text_field, object: projet %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Image</h5>

            <div class="image-preview mb-3">
              <img src="<%= projet.image_url %>" alt="<%= projet.image_url_alt %>" class="img-fluid rounded">
            </div>

            <%= render 'shared/form_field', form: f, field: :image_url, field_type: :text_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :image_url_alt, field_type: :text_field, object: projet %>
          </div>
        </div>

        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Dates et couleur</h5>

            <%= render 'shared/form_field', form: f, field: :date_debut, field_type: :date_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :date_fin, field_type: :date_field, object: projet %>
            <%= render 'shared/form_field', form: f, field: :couleur, field_type: :color_field, object: projet %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to 'Annuler', projets_path, class: "btn btn-outline-secondary" %>
      <%= f.submit projet.persisted? ? 'Mettre à jour' : 'Créer', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
