
<div class="cards-container">

  <div class="cards-container-project">
    <h3> Mes derniers projets</h3>
    <p style="text-align: left;">
      Vous trouverez les précédentes réalisations significatives.
      Je m'adapte à vos besoins pour réaliser, ensemble, le site qui vous ressemble.
      Pour chacun des projets, vous avez la possibilité de voir les outils utilisés et un texte descriptif de celui-ci.
    </p>
  </div>
  <% if @projets.last != nil %>
    <% @projets.each do |projet| %>
      <div class="card" style="border: 1px solid <%= projet.couleur %>;">
        <img class="card-img-top" src=<%= projet.image_url%> alt=<%= projet.image_url_alt %>>
        <div class="card-body">
          <h4><%= projet.type_projet.upcase %></h4>
          <h3 class="card-title"><%= projet.titre %></h3>
          <p class="card-text"><%= truncate(projet.description, length: 200) %></p>
        </div>
        <div style="display:flex; justify-content: flex-end;">
          <a href="projets/<%= projet.id %>" class="en-savoir-plus-btn" style="<%= "border-color: #{projet.couleur}; background-color: #{projet.couleur};" %>">
            En savoir plus
          </a>
        </div>
      </div>
    <% end %>
    <% else %>
      <p>Aucun projet n'a été retrouvé</p>
  <% end %>

    <div style="display: flex; justify-content: flex-end; margin-top: 5vh; margin-bottom: 3vh;">
      <a href="/" class="retour-accueil-btn">Retour à l'accueil</a>
    </div>

</div>
