<%= render 'shared/navbar' %>

<% if user_signed_in? %>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: projets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn" %>
    <% end %>
  </div>
</div>
<% end %>

<div class="projects-container">
  <div class="projects-header">
    <h3>Mes Projets</h3>
    <p>Découvrez une sélection de mes réalisations récentes en développement web.</p>
  </div>

  <div class="projects-grid">
    <% if @projets.any? %>
      <% @projets.each do |projet| %>
        <div class="project-card">
          <a href="<%= projet_path(projet.titre.gsub(' ', '-')) %>">
            <div class="project-image">
              <img src="<%= projet.image_url%>" alt="Projet <%= projet.titre %>">
            </div>

            <div class="project-content">
              <h3><%= projet.titre %></h3>
              <p><%= truncate(projet.description, length: 150) %></p>
            </div>

            <div class="project-footer">
              <div class="project-type">
                <%= projet.type_projet.upcase %>
              </div>
              <div class="project-tools">
                <%= projet.outils[0..1].map(&:nom).join(', ') %>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% else %>
      <p>Aucun projet n'a été retrouvé</p>
    <% end %>
  </div>

  <div class="back-button-container">
    <%= link_to root_path, class: "btn btn-back" do %>
      </i> Retour à l'accueil
    <% end %>
  </div>
</div>
