<%= render 'shared/navbar' %>

<% if user_signed_in? %>
    <%= link_to 'Modifier', edit_projet_path(@projet) %>
    <%= button_to 'Supprimer', projet_path(@projet), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<div class="project-container">
  <div class="card-pastille" style="background-color: <%= @projet.couleur %>;"><%= @projet.type_projet.upcase %></div>

  <h2>Projet: <%= @projet.titre %></h2>
  <div class="image-container" style="border: 1px solid <%= @projet.couleur %>;">
    <img src="<%= @projet.image_url %>" alt="<%= @projet.image_url_alt %>" class="project-image">
  </div>

  <div class="description-container">
    <h3 class="description-title"><%= @projet.titre %>, c'est quoi ?</h3>
    <p class="description-paragraphe"><%= @projet.description %></p>
  </div>

  <div class="github-link-container">
    <a href="<%= @projet.github_lien %>" target="_blank" class="btn github-btn" style="background-color: <%= @projet.couleur %>; border: 1px solid <%= @projet.couleur %>;">Lien Github</a>
  </div>
  <div class="description-container">
    <h3 class="description-title">Avec quels outils a été conçu <%= @projet.titre %> ?</h3>
    <p class="description-text">Vous pouvez cliquer sur l'outil pour en savoir plus.</p>
  </div>
  <div class="tools-container">
    <% @projet.outils.each do |outil| %>
      <div class="tool-item" data-controller="outil" data-action="click->outil#toggleDescription">
        <div class="tool-name"><%= outil.nom %>
          <i class="fas fa-chevron-down" style="color: <%= @projet.couleur %>"></i>
        </div>
        <div class="tool-description-container">
          <div class="tool-description" data-outil-target="description">
            <%= outil.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="return-button-container">
    <a href="/projets" class="btn retour-accueil-btn">Retour aux projets</a>
  </div>
</div>
