
<div style="background: white; color: #141414; display: flex; flex-direction: column; justify-content: center; align-items: center;">

  <h2 style="text-align: center; font-weight: bold; padding-top:4vh;">
      Projet: <%= @projet.titre %></h2>
  <p style="text-align: center; color: <%= @projet.couleur %>; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      padding-top:2vh; padding-bottom:1vh; font-size: 24px"><%= @projet.type_projet.upcase %></p>

  <div style="display:flex; justify-content: center; align-items: center; margin-top: 2vh; margin-bottom: 2vh;">
    <img src=<%= @projet.image_url %> alt=<%= @projet.image_url_alt %> style="width: 50%; height: auto; border: 2px solid <%= @projet.couleur %>; border-radius:3px;">
  </div>

  <div style="width: 75%;">
    <div style="display: flex; flex-direction: column; text-align: center; margin-top: 2vh;">
      <h3 style="font-weight: bold; text-align: left; margin-bottom: 2vh;"><%= @projet.titre %>, c'est quoi ?</h3>
      <p style="text-align: left;"><%= @projet.description %></p>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 3vh; margin-bottom: 3vh;">
        <a href="<%= @projet.github_lien%>" target="_blank" class="btn btn-primary" style="background:<%= @projet.couleur %>; border: solid 1px <%= @projet.couleur %>; border-radius: 4px; color: black; font-weight: bold; text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;">
                Lien Github</a>
    </div>

    <h3 style="font-size: 20px; text-align: left; margin-bottom: 1vh;">Avec quels outils a été conçu <%= @projet.titre %> ?</h3>
    <%  @projet.outils.each do |outil| %>
    <div style= "margin-bottom: 1vh;"
                data-controller="outil"
                data-action="click->outil#toggleDescription">
      <div style= "font-weight: bold; cursor: pointer;" ><%= outil.nom %> <i class="fas fa-chevron-down" style="color: <%= @projet.couleur %>"></i></div>
      <p data-outil-target="description" style="opacity: 0.9; display:none; padding-left: 2vw;" ><%= outil.description %></p>
    </div>
    <% end %>

  </div>

    <div style="display: flex; justify-content: flex-end; margin-top: 2vh; margin-bottom: 2vh;">
      <a href="/projets" class="btn btn-primary" style="background: #141414; border: 0px; color: white; font-weight: bold; font-size: 18px;
              display: flex;
              justify-content: flex-end;
              align-items: center;">
              Retour aux projets</a>
    </div>
</div>
