
  <% if user_signed_in? %>
      <%= link_to 'Modifier', edit_article_path(@article) %>
  <% end %>

<div class="project-container">
  <h2> <%= @article.titre %> </h2>
  <h3 class="project-type" style="color: <%= @article.couleur %>;"> <%= @article.theme.upcase %></h3>

  <div class="image-container" style="border: 1px solid <%= @article.couleur %>;">
    <img src="<%= @article.image_url %>" alt="<%= @article.image_alt %>" class="project-image">
  </div>

  <div class="article-container">
    <p class="description-text"><%= @article.content %></p>
  </div>

  <div class="return-button-container">
    <a href="/articles" class="btn retour-accueil-btn">Retour aux articles</a>
  </div>
</div>
