<%= render 'shared/navbar' %>

<div class="show-container">
  <div class="show-header" data-controller="text-fit">
    <div class="show-theme" style="background-color: <%= @article.couleur_du_theme %>20; color: <%= @article.couleur_du_theme %>;">
      <%= @article.theme %>
    </div>
    <div>
      <h1 data-text-fit-target="heading"><%= @article.titre %></h1>
    </div>
    <div class="show-meta">
      Publié le <%= @article.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>

  <div class="show-image">
    <img src="<%= @article.image_url %>" alt="<%= @article.image_alt %>">
  </div>

  <div class="show-content">
    <%= @article.content %>
  </div>

  <div class="show-actions">
    <%= link_to articles_path, class: "btn btn-back" do %>
      Retour aux articles
    <% end %>

    <% if user_signed_in? %>
      <%= link_to edit_article_path(@article), class: "btn btn-primary" do %>
        <i class="fas fa-edit"></i> Modifier
      <% end %>
    <% end %>
  </div>
</div>
