<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google result text-->
    <title>Développeur web freelance fullstack à Bordeaux. Maxime Oudin, expert Ruby On Rails, crée votre site internet</title>

    <meta name="dc.title" content="Développeur web freelance fullstack à Bordeaux. Maxime Oudin, expert Ruby On Rails, crée votre site internet">
    <meta name="dc.description" content="Développeur web freelance fullstack à Bordeaux et Paris. Spécialisé dans la création de sites vitrine, e-commerce, CRM, SaaS, et applications web.">
    <meta name="dc.relation" content="https://maximeoudin.fr/">
    <meta name="dc.source" content="https://maximeoudin.fr/">
    <meta name="dc.subject" content="Développeur web, Bordeaux, Ruby On Rails, Webflow, site internet, e-commerce, CRM, SaaS, applications web">
    <meta name="dc.language" content="fr">
    <meta name="robots" content="index, follow">

    <!-- Google result description-->
    <meta name="description" content="Développeur web freelance fullstack à Bordeaux et Paris. Spécialisé dans la création de sites vitrine, e-commerce, CRM, SaaS, et applications web.">

    <script type="application/ld+json">
        {"@context":"https:\/\/schema.org","@type":"WebSite","name":"Maxime Oudin","alternateName":"Maxime Oudin","description":"D\u00e9veloppeur Web Freelance","url":"https:\/\/maximeoudin.fr","potentialAction":{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/maximeoudin.fr\/?s={search_term_string}"},"query-input":"required name=search_term_string"}}
    </script>

    <!-- Facebook meta -->
    <meta property="og:title" content="Développeur web à Bordeaux, expert Ruby On Rails">
    <meta property="og:image" content="Logo_black.png">
    <meta property="og:description" content="Développeur web freelance fullstack à Bordeaux et Paris. Spécialisé dans la création de sites vitrine, e-commerce, CRM, SaaS, et applications web. Expert en Ruby On Rails et Webflow. Créons ensemble le site internet dont vous avez besoin !">
    <meta property="og:site_name" content="Maxime Oudin dev"/>

    <!-- Twitter meta -->
    <meta name="twitter:card" content="Logo_black.png">
    <meta name="twitter:site" content="@maximeoudin">
    <meta name="twitter:title" content="Développeur web freelance fullstack à Bordeaux et Paris. Spécialisé dans la création de sites vitrine, e-commerce, CRM, SaaS, et applications web. Expert en Ruby On Rails et Webflow. Créons ensemble le site internet dont vous avez besoin !">
    <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
    <meta name="twitter:creator" content="@maximeoudin">
    <meta name="twitter:image:src" content="Logo_black.png">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--load your compiled CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Google Fonts Monserrat & Playfair Display SC added %>
    <link rel="preconnect" href="https://fonts.googleapis.com" async>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Playfair+Display+SC:wght@400;700&display=swap" rel="stylesheet" async>

    <!--load your compiled javascript -->
    <%= javascript_importmap_tags %>

    <!--load contact form -->
    <script async src="https://tally.so/widgets/embed.js"></script>

  </head>

  <body>

    <%# <%= render 'shared/navbar' %>

      <div class= "container-application">

        <%= yield %>

      </div>

    <%= render 'shared/footer' %>

  </body>
</html>
