<!DOCTYPE html>
<html lang="fr">
  <%= render 'layouts/head' %>

  <body>

    <% if user_signed_in? %>
      <div class="admin-actions">
          <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete %> <br>
          <%= link_to "Retour à l'accueil", root_path %> <br>
          <%= link_to 'Créer nouveau projet', new_projet_path %> <br>
          <%= link_to 'Créer nouveau article', new_article_path %>
      </div>
    <% end %>

    <div class= "container-application" data-controller="breadcrumbs">

      <%= yield %>

    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
